.textarea-big {
    height: 20rem !important;
    width: 35rem;
    resize: none;
}

.textarea-big2 {
    height: 30rem !important;
    width: 50rem;
    resize: none;
}

.width-auto {
    width: auto !important;
}

.alert-small {
    padding: .5rem 1rem;  
}

.filter-invert {
    filter: invert();
}